<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Hacer el tipo de configuracion de las alarmas, que se pueda influir en su configuracion,
    estilo, conexión, entre otras cosas -->
<ion-content>
  <ion-card-content>
    <h1>Configuracion</h1>
    <ion-card-content>
      <h3 style="color: cyan;">Alarma</h3>
      <ion-card-content>
        Estilo
      </ion-card-content>
    </ion-card-content>
    
  </ion-card-content>

  <ion-card-content>
    <ion-item>
      <h1>hola mundo otra vez</h1>
    </ion-item>
    <ion-item>
      
    </ion-item>
    <ion-toggle [checked]="true">Dark mode</ion-toggle>
    <ion-list>
      <ion-item lines="full">
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-label>Dark Theme</ion-label>
        <ion-toggle id="themeToggle" slot="end"></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-content>