<ion-app>

  <ion-menu contentId="main-content">

    <ion-header>
      <ion-toolbar color="secundary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content contentId="main-content">
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item [routerLink]="['/home']">Inicio</ion-item>
          <ion-item [routerLink]="['/perfil']">Perfil</ion-item>
          <ion-item [routerLink]="['/crear']">Personaje</ion-item>
          <ion-item (click)="cerrarSesion()">
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

  </ion-menu>
  <div class="ion-page" id="main-content">

    

  <ion-card >
    <ion-item>
      

      <h1>Aqui debo pasar el nombre del usuario</h1>
    </ion-item>
  </ion-card>

  <ion-card-content>
    <ion-button expand="block" [routerLink]="['/login']">Cerrar sesión</ion-button>
  </ion-card-content>



  </div>
</ion-app>
