ion-button {
    --background: rgb(0, 0, 0);

}

ion-content {
    //degradado de colores
    //--background: linear-gradient(rgb(213, 101, 10), rgba(236, 179, 7, 0.907));
    // Se puede hacer de varios colores OMG!
    --background: linear-gradient(rgb(62, 14, 110), rgb(22, 13, 117));
}

#logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 500px;
    align-items: center;
}
.titulo{

}

ion-card {
    --background: linear-gradient(rgb(21, 0, 55), rgb(36, 36, 36));
}

a {
    color: #ffffff;
}

// titulo e icono de presentación
.upper {
    width: 100%;
    height: 200px;
    padding-top: 50px;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        ion-img {
            font-size: 100px;
            
        }
    }

    .tituloo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

ion-img {
    width: 100%;
    height: 300px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 500px;
    align-items: center;
}


