<ion-content>
  
    <ion-card>
      
    
      

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="email" [(ngModel)]="usuarioLogin"></ion-input>

        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="passwordLogin"></ion-input>

        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="ingresar()">

              Ingresar</ion-button>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <a [routerLink]="['/restablecer']">Haz olvidado tu contraseña?¿</a>
          </ion-col>
        </ion-row>
        

      </ion-card-content>

    </ion-card>

</ion-content>