<ion-app>

    <!-- Side Menu -->
    <ion-menu contentId="main-content">

      <ion-header>
        <ion-toolbar color="secundary">
          <ion-title>Menu Content</ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content class="ion-padding" color="light">
        <ion-list>
          <ion-menu-toggle>
            <ion-item [routerLink]="['/registrar']" ></ion-item>
            <ion-item [routerLink]="['/settings']" ></ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu> 

    <!-- Este div ayuda a poder abrir de lado en el menu -->
    <div class="ion-page" id="main-content">

      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
    
  
      <ion-content>
  
        <ion-card>
          <ion-label>hola</ion-label>
        </ion-card>
  
  
        <ion-fab slot="fixed" vertical="bottom" horizontal="end">
          <ion-fab-button>
            <ion-icon name="chevron-up-circle"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="top">
            <ion-fab-button>
              <ion-icon name="document"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
              <ion-icon name="color-palette"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
              <ion-icon name="globe"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-content>

      
      
    
   
  </div>
</ion-app>