<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Breack
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-tabs value="casa">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="casa">
        <ion-icon name="home"></ion-icon>
        <!-- home -->
      </ion-tab-button>
      <ion-tab-button tab="notificacion">
        <ion-icon name="notifications"></ion-icon>
        <!-- Notificaciones -->
      </ion-tab-button>
      <ion-tab-button tab="calendario">
        <ion-icon name="calendar-number"></ion-icon>
        <!-- Calendario -->
      </ion-tab-button>
      <ion-tab-button tab="movilidad">
        <ion-icon name="car"></ion-icon>
        <!-- Movil -->
      </ion-tab-button>
      <ion-tab-button tab="ajustes">
        <ion-icon name="settings"></ion-icon>
        <!-- settings -->
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
