<ion-app>

  <!-- Side Menu -->
  <ion-menu contentId="main-content">

    <ion-header>
      <ion-toolbar color="secundary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content contentId="main-content">
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item [routerLink]="['/home']">Inicio</ion-item>
          <!-- <ion-item [routerLink]="['/perfil']">Perfil</ion-item>
          <ion-item [routerLink]="['/crear']">Personaje</ion-item> -->
          <ion-item (click)="cerrarSesion()">
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

  </ion-menu> 

  <!-- Este div ayuda a poder abrir de lado en el menu -->
  <div class="ion-page" id="main-content">

    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Error404</ion-title>
      </ion-toolbar>
    </ion-header>
  

    <ion-content>
      <p>Pagina no encontrada</p>
      <ion-img src="../../../assets/img/error404.jpg"></ion-img>
      

    </ion-content>

    
    
  
 
</div>
</ion-app>